.board-inner {
    display: flex;
}

.btn-default {
    border-color: #ccc;
}

.btn-radio {
    width: 100%;
}

.img-radio {
    opacity: 0.8;
    margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}

#myTab {
    display: flex;
    justify-content: center;
    border: none;
    width: 100%;
    margin: 0 auto;
}

#myTab li:after {
    content: "";
    position: absolute;
    width: 100%;
    border: none;
    height: 2px;
    background-color: #b9b9b9;
    top: 15px;
    left: 40%;
    z-index: -1;
    opacity: 1;
}

#myTab li.success::after{
    border: 1px solid #6400AA;
}

#myTab li:last-child:after {
    content: none;
}

.active a span.round-tabs {
    background-color: #888888;
    border: 1px solid #888888;
    cursor: default;
}

.success a span.round-tabs {
    background-color: #6400AA;
    border: 1px solid #6400AA;
    cursor: default;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background: transparent;
}

.board {
    width: 75%;
    margin: 60px auto;
    height: 500px;
    background: #fff;
}

.board .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}

.workflowname {
    top: 32px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 14px;
    left: 0;
    right: 0;
    width: 97px;
}

.glyphicon {
    position: relative;
    top: -20px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs {
    width: 30px;
    height: 30px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 30px;
    right: 0px;
    text-align: center;
    font-size: 25px;
}

span.round-tabs {
    border: 2px solid #ddd;
    
}


.nav-tabs>li {
    width: 20%;
    position: relative;
}

.nav-tabs>li:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition: 0.1s ease-in-out;

}

.nav-tabs>li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;

}

.disabled {
    pointer-events: none;
}

.nav-tabs>li a {
    margin: 20px auto;
    border: none;
    padding: 0;
}

.nav-tabs>li:after a:hover {
    background-color: #ddd;
    width: 100%;
    height: 2px;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.btn.green {
    background-color: #5cb85c;
    color: #ffffff;
}
.active>a>.workflowname {
    color: #555;
}
.success>a>.workflowname {
    color: #6400AA;
}
.nav>li.disabled>a {
    color: #777;
}
.tooltips .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #fff !important;
    color: #6400aa;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px;
    font-size: 14px;
    position: absolute;
    top: 36px;
    z-index: 10000;
    cursor: default;
}

.success .tooltips:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext p {
    margin-bottom: 0px;
}

@media(max-width : 585px) {


    span.round-tabs {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .nav-tabs>li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .nav-tabs>li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }

    .btn-outline-rounded {
        padding: 12px 20px;
    }
}

@media screen and (min-width:780px) and (max-width:1800px) {
    .nav-tabs>li {
        width: 23%;
    }
}

.prev-btn {
    width: 10%;
    color: #6400AA;
    position: absolute;
    left: 0px;
    border: none;
    outline: none;
    bottom: 20px;
}

.next-btn {
    width: 10%;
    color: #6400AA;
    position: absolute;
    right: 0px;
    border: none;
    outline: none;
    bottom: 20px;
}

button[disabled] {
    cursor: not-allowed;
    color: #777;
    opacity: 0.5;
}

.prevnext {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.fa-chevron-circle-left:before {
    font-size: 26px;
}

.fa-chevron-circle-right:before {
    font-size: 26px;
}