.port-speed-download{
    position: absolute;
    right: 40px;
    top: 18px;
}
.circle-dot{
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 5px;
}
.card-dashboard{        
  color: #6400aa;
  font-size: 20px;
  font-weight: 400;
  margin-left: 9px;      
}
.imageBackground{
  background-color: white;
}
.dataFont { 
  font-size: 15px;
}
.dataFont1 {
  font-size: 14px;
}
.color-dot-ul li {
  display: block;
}