<div class="container-fluid containerwidth">
  <div class="row filterheading">
    <div class="col-md-5 col-sm-5 list-inline">
      <h2 class="margin10 header">Forecast Analysis
        <span class="sitenamefont" *ngIf="siteName">- {{siteName}}</span>
      </h2>
    </div>
    <div class="col-md-7 col-sm-7 text-right">
      <ul class="nav navbar navbar-left d-flex d-inline-flex padding0">
        <li class="nav-item d-inline-flex marginright25">
          <span class="datamsgs">{{searchSiteErrorMsg}}</span>
          <app-auto-suggestions [filterData]="filterData" [placeHolder]="searchBoxPlaceHolder"
            (searchStr)="onkeyPressSearch($event)" (selectStr)="onselectSearch($event)"
            (validateInputData)="validateInputData($event)"></app-auto-suggestions>
        </li>
      </ul>
    </div>
    <hr class="hrclass">
  </div>
  <div class="row" *ngIf="!showData">
    <div class="col-md-12">
      <h1 class="chooseMsg">{{ messageDisplay }}</h1>
    </div>
  </div>
  <div *ngIf="showData">
    <div class="row">
      <div class="col-md-12 col-sm-12" id="nodeTypeGraph">
        <div class="card-dashboard margin-bottom ">
          <ul class="list-inline listpadding">
            <li class="productTab" *ngFor="let ele of productType" class="td-color"
              [ngClass]="{ activeClass: ele.active ? true : false }" [id]="ele.name" (click)="changeProduct(ele)">
              {{ ele.name }}
            </li>
          </ul>
          <div *ngIf="showlineData; else noLineData">
            <div class="linecharts">
              <ul class="list-inline min-width-added" *ngIf="!noPortSpeedData">
                <li class="" *ngFor="let a of data?.datasets">
                  <p><span class="circle-dot" [ngStyle]="{'background-color': a.borderColor}"></span> {{a.label}} </p>
                </li>
              </ul>
              <ul class="list-inline">
                  <li class="d-inline-block">
                  <div class="port-speed">
                    <select [(ngModel)]="selectedPortSpeed" (change)="loadChartByPortSpeed(selectedPortSpeed)">
                      <option *ngFor="let port of portList" value="{{port.portSpeed}}">{{port.portSpeed}}</option>
                    </select>
                  </div>
                </li>
              </ul>
              <ul class="list-inline" *ngIf="!noPortSpeedData">
                <li ngbDropdown class="d-inline-block">
                  <a class=" btn-outline-primary userdropdown-toggle " id="dropdownBasic1" ngbDropdownToggle> <span
                      class="icon-line "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="10"
                        viewBox="0 0 16 8">
                        <defs>
                          <style>
                            .a {
                              fill: #6400aa;
                            }
                          </style>
                        </defs>
                        <path class="a" d="M18,4V5H2V4ZM2,8.5H18v-1H2ZM2,12H18V11H2Z" transform="translate(-2 -4)" />
                      </svg></span>
                  </a>
                  <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <li><a ngbDropdownItem><span (click)="downloadCSV()">Download XLS</span></a></li>
                    <li><a ngbDropdownItem appPNGDownload [elementId]="'nodeTypeGraph'"
                        [downloadImageName]="'Forecast-analysis-report'">
                        <span>Download PNG</span>
                      </a></li>
                  </ul>
                </li>
              </ul>
              <div class="chart-container" *ngIf="!noPortSpeedData">
                <app-chart [type]="type" [data]="data" [options]="options" [height]="'300px'"></app-chart>
              </div>
              <div *ngIf="noPortSpeedData">
                <h1 style="text-align:center"> Trend and Forecast for this site is not found for the graph</h1>
              </div>
            </div>
          </div>
          <ng-template #noLineData>
            <h1 style="text-align:center"> Trend and Forecast for this site is not found for the graph</h1>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="row detail-site-table">
          <app-table [settings]="tableSettings" [noRecordError]="'No Record Found'">
          </app-table>
        </div>
      </div>
    </div>
  </div>
</div>