.selectedfilter {
    font-weight: bolder;
    display: inline;
    font-size: 14px;
    color: #000;
  }
  .table-info {
    border: 1px solid #000;
    width: 90%;
    font-size: 12px;
  
    .head {
      background: #ffb970;
      font-weight: 600;
    }
  
    td,
    th {
      border-right: 1px solid;
      border: 1px solid #000;
    }
    .tbodybackground{
        background: #ffff;
    }
  }
  .info-list {
    padding-left: 20px;
  
    li {
  
      list-style: circle;
    }
  }
  