.heading-main {
  padding: 0px;

  h1 {
    margin-right: 20px;
    font-size: 28px;
  }
}

.filterheading1 {
  font-size: 28px;
  margin: 0px 0px 0px;
  display: flex;
  justify-content: space-between;

  h1 {
    margin: 8px 0;
  }
}

.errorzindex {
  z-index: 999;
}

.disableactionsitename{
  pointer-events:none;
  text-decoration: none;
}
@media screen and (min-width: 760px) and (max-width: 1640px) {
  .heading-main {
    font-size: 26px;
  }
}

.search-tab_chassis {
  position: relative;
  padding-right: 0px;

  input {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    padding-left: 15px;
    display: inline-block;
  }
}

.margin10 {
  margin-top: 10px;
}

// toggle phase 2
.onoffswitch {
  position: relative;
  width: 75px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  top: 8px;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 39px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;

  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "Edit";
  padding-left: 10px;
  background-color: #06950b;
  color: #ffffff;
  text-align: left;
  padding-top: 4px;
}

.onoffswitch-inner:after {
  content: "Read";
  padding-right: 10px;
  background-color: #339df8;
  color: #fff;
  text-align: right;
  padding-top: 4px;
}

.onoffswitch-switch {
  display: block;
  width: 23px;
  height: 23px;
  margin: 6px;
  background: #ffffff;
  position: absolute;
  top: 3px;
  bottom: 0;
  right: 40px;
  // border: 2px solid #999999;
  transition: all 0.3s ease-in 0s;
  border-radius: 4px;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
  right: -3px;
}

.toggle-check {
  margin-left: 10px;
}

.list-inline li {
  display: inline-block;
  margin-bottom: 20px;
 
}

.list-inline {
  text-align: end;
}

.searchbox .ui-autocomplete .ui-autocomplete-input {
  width: 150px;
}

.chassis-ul {
 display: inline-flex;
 text-align: right;
 margin-bottom: 0;
}

.text-align-end {
  text-align: right;
}

.onoffswitch-label-disable {
  background: #9e9d9d;
}

.workflowname {
  top: 32px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 14px;
  left: 0;
  right: 0;
  width: 97px;
}

.glyphicon {
  position: relative;
  top: -20px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: #555555;
  cursor: default;
  /* background-color: #ffffff; */
  border: 0;
  border-bottom-color: transparent;
}

span.round-tabs {
  width: 30px;
  height: 30px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 30px;
  right: 0px;
  text-align: center;
  font-size: 25px;
}

span.round-tabs {
  border: 2px solid #ddd;
}


.nav-tabs>li {
  /*width: 20%;*/
  width: 20%;
}

.nav-tabs>li:after {
  content: " ";
  position: absolute;
  left: 45%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #ddd;
  transition: 0.1s ease-in-out;

}

.nav-tabs>li.active:after {
  content: " ";
  position: absolute;
  left: 45%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #ddd;

}

.disabled {
  pointer-events: none; //This makes it not clickable
  // opacity:0.6;         //This grays it out to look disabled
}

.nav-tabs>li a {
  margin: 20px auto;
  border: none;
  padding: 0;
}

.nav-tabs>li:after a:hover {
  background-color: #ddd;
  width: 100%;
  height: 2px;
}

.nav>li>a:focus,
.nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}

.btn.green {
  background-color: #5cb85c;
  /*border: 2px solid #5cb85c;*/
  color: #ffffff;
}

.success>a>.workflowname {
  color: #6400AA;
}

.tooltips .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #fff !important;
  color: #6400aa;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;
  font-size: 14px;
  /* Position the tooltip */
  position: absolute;
  top: 32px;
  z-index: 10000;
}

.success .tooltips:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext p {
  margin-bottom: 0px;
}

#nxtbtnalgn {
  position: absolute;
  top: 5px;
  right: -15%;
  z-index: 9999;

  @media screen and (min-width:760px) and (max-width:1640px) {
    right: -20% !important;
  }
}

.btnnext {
  height: 35px;
  width: 80px;
  padding: 1px 8px;
  color: #fff;
  border: 1px solid;
  border-color: #6400AA;
  border-radius: 5px;
  background-color: #6400AA;
  left: -10%;
  position: absolute;

  @media screen and (min-width:760px) and (max-width:1640px) {
    left: -23% !important;
  }
}
#setheight {
  height: auto;
  display: table;
  margin-left: 5%;
}
#delatval {
  height: 60px;
  border-left: 1px solid #c1c1c1;
  display: inline-block;
  vertical-align: middle;
}
.inline-block-class{
  display:inline-block;
}
.vertivlealign {
  vertical-align: middle;
}

.heading-main{
  padding: 0px;
  h1{
    margin-right: 20px;
    top: -16px;
  }
   h5{
     font-size: 14px;
     color: #6400aa;
     margin-right: 10px;    
   }
   .vertivlealign {
     vertical-align: middle;
   }
   #delatval{
    display: inline-block;
    vertical-align: middle;
   }
   ul{
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   width: 300px;
   height: 68px;
   vertical-align: middle;
   li{
    width: 50%;
     font-size:14px;
     float:left;
     padding-right: 13px;
     height: 19px;

     span:first-child{
      padding-left: 7px;
      display: inline-block;
     }
     span:last-child{
      padding-left: 0px;
      float: right;
      display: inline-block;
      border-right: 1px solid #c1c1c1;
      width: 35%;     
     }
   }
   }
}
.negative {
  color:red
}
.positive {
  color: blue;
}
.margin-top4 {
  margin-top: 2px;
}
@media only screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .onoffswitch {
    top:6px;
  }
  .chassis-ul {
    display: block;
    margin-bottom: 5px;
  }
  .chassis-ul .form-group {
       margin-bottom: 3px !important;
     }
     .list-inline li {
       margin-bottom: 0;
     }  
}
.chassisalignment .marginleft15 {
  top: -15px;
}

.home-icon {
  vertical-align: baseline;
  margin-right: 10px;
  border-right: 1px solid #6400aa;
  padding: 0 10px 0 10px;
  margin-top: 13px;
  cursor: pointer;
}

.padding10 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
// .chassis-ul .form-group {
//   margin-bottom: 0 !important;
// }

