.alert-success {
    width: 300px;
    height: 35px;
    padding-top: 05px;
    margin-bottom: 0px;
    font-size: 17px;
}
.alert-danger {
    width: 300px;
    height: 35px;
    padding-top: 05px;
    margin-bottom: 0px;
    font-size: 17px;
}