.loader {
    background: none repeat scroll 0 0 #9e9d9d;
    position: fixed;
    display: block;
    opacity: 0.5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 25%;
    cursor: not-allowed;
    z-index: 99;
}
