<div class="panel panel-default">
    <div class="panel-heading" [ngStyle]="{'background-color':color}">{{productType}}</div>
    <div class="panel-body1">
        <div class="circle-text">
            <img class="img-centre" src="assets/images/freeTotal.png"> </div>
        <div>
            <div class="panel-body2">
                <div>
                    <span> Free Ports</span>
                    <div class="freeSlotsColor"> {{freePorts}} </div>
                </div>
                <div>
                    <span> Total Ports</span>
                    <div class="totalPorts"> {{totalPorts}} </div>
                </div>
            </div>
        </div>

    </div>
</div>
